<div class="grid place-items-center h-[calc(100vh-132px)]">

  <div class="bg-black inline-block align-bottom bg-secondary rounded-lg text-left overflow-hidden
      shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full pb-4">

    <div class="py-4 text-left px-6">
      <!--Title-->
      <div class="flex justify-between items-center pb-4">
        <p class="text-2xl font-bold">Account</p>
      </div>

      <app-tabs-container>
        <app-tab tabName="Register">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <!-- First Name -->
            <div class="mb-3">
              <label class="inline-block mb-2">First Name</label>
              <app-input [control]="registerForm.controls.firstName" placeholder="Enter First Name"></app-input>
            </div>
            <!-- Last Name -->
            <div class="mb-3">
              <label class="inline-block mb-2">Last Name</label>
              <app-input [control]="registerForm.controls.lastName" placeholder="Enter Last Name"></app-input>
            </div>
            <!-- Email -->
            <div class="mb-3">
              <label class="inline-block mb-2">Email</label>
              <app-input [control]="registerForm.controls.email" placeholder="Enter Email"></app-input>
            </div>
            <!-- Password -->
            <div class="mb-3">
              <label class="inline-block mb-2">Password</label>
              <app-input [control]="registerForm.controls.password" placeholder="Enter Password"></app-input>
            </div>
            <!-- Confirm Password -->
            <div class="mb-3">
              <label class="inline-block mb-2">Confirm Password</label>
              <app-input [control]="registerForm.controls.confirmPassword" placeholder="Confirm Password"></app-input>
            </div>
            <button type="submit"
              class="mt-6 block w-full bg-green-600 text-white py-1.5 px-3 rounded transition hover:bg-green-500 disabled:opacity-50 disabled:bg-green-600"
              [disabled]="registerForm.invalid">
              Submit
            </button>
          </form>
        </app-tab>

        <app-tab tabName="Login">
          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <!-- Email -->
            <div class="mb-3">
              <label class="inline-block mb-2">Email</label>
              <app-input [control]="loginForm.controls.email" placeholder="Enter Email"></app-input>
            </div>
            <!-- Password -->
            <div class="mb-3">
              <label class="inline-block mb-2">Password</label>
              <app-input [control]="loginForm.controls.password" placeholder="Enter Password"></app-input>
            </div>
            <button type="submit"
              class="mt-6 block w-full bg-green-600 text-white py-1.5 px-3 rounded transition hover:bg-green-500 disabled:opacity-50 disabled:bg-green-600"
              [disabled]="loginForm.invalid">
              Submit
            </button>
          </form>
        </app-tab>
      </app-tabs-container>

    </div>
  </div>
</div>