<header id="header" class="bg-secondary">
  <nav class="container mx-auto flex justify-start items-center py-8 px-4">
    <a class="text-3xl text-red-600 font-bold uppercase mr-4" [routerLink]="'/'">Logo</a>

    <div class="flex flex-grow items-center">
      <ul class="flex flex-row ml-auto" *ngIf="isLoggedIn$ | async">
        <li>
          <a class="px-2" [routerLink]="'/dashboard'">Dashboard</a>
        </li>
        <li>
          <a class="px-2" [routerLink]="'/logout'" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
</header>